body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

section {
  padding: 60px 20px;
}

#carsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
